.strong {
    font-weight: 700;
}

.grey {
    background-color: #F2F4F8 !important;
}

nav {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}

    nav .container {
        min-width: 150px;
    }

.card-title {
    font-weight: 700;
}

small, .lead {
    font-weight: 700;
}